modules = ["nodejs-20", "web", "postgresql-16"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"

[[ports]]
localPort = 5000
externalPort = 80

[env]
PORT = "5000"

[deployment]
deploymentTarget = "autoscale"
run = ["node", "./dist/index.cjs"]
build = ["npm", "run", "build"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[userenv]

[userenv.shared]
ADMIN_EMAIL = "syanmedtechadmen@gmail.com"
ADMIN_PASSWORD = "Pak@1234"
VIMEO_ACCESS_TOKEN = "76be4d0b2eafc460ea82fc0be41e522c"
B2_APPLICATION_KEY = "006bacc4119aa8f48a30d20f40fd5f40d94139e36e"
B2_KEY_ID = "a54c2d711411"
B2_S3_ENDPOINT = "https://s3.ca-east-006.backblazeb2.com"
B2_BUCKET = "mytestvideo"
